table,th,td{
    border: 1px solid red !important;
    /* border-collapse: collapse; */
    /* width: 100%; */
}
table {
    width: 100%;
}
/* th,td {
   
 
    flex: 1;
} */

/* .TableData_name {
    width: auto;
} */


/* .TableData th {
    width: 250px;
} */


.TableData_name {
    width: 25%;
}

.TableData_Survedby {
    width: 25%;
    /* background-color: red; */

}


.TableData_Active {
    width: 25%;

}

.TableData_bookedby {
    width: 25%;
}

.Tabledata_btn_notbooked {
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1px;
}

.Tabledata_btn_booked {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    /* padding: 5px; */
}

.edit_icon {
    color: green;
}

.surveddata_edit {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    /* mar */
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}

.surveddata_edit span{


cursor: pointer;}

.emailafter_edit span {
    cursor: pointer;

}

.email_deleteicon {
    color: red;
}

.emailafter_edit select{
    max-width: 250px ;
    color: green;
    /* background-color: red; */
}




@media (max-width:1285px){


    
.TableData_name {
    width: 20%;
}

.TableData_Survedby {
    width: 40%;
    /* background-color: red; */
    

}





.TableData_Active {
    width: 20%;

}

.TableData_bookedby {
    width: 20%;
}
}




@media (max-width:815px){


    
    .TableData_name {
        width: 15%;
    }
    
    .TableData_Survedby {
        width: 50%;
        /* background-color: red; */
    
    }
    
    
    .TableData_Active {
        width: 20%;
    
    }
    
    .TableData_bookedby {
        width: 15%;
    }
    }


    @media (max-width:670px){

        .emailafter_edit_email{
            display: none;
        }
.emailafter_edit_name {
display: block !important;

}
.emailafter_edit{
    display: flex;
    justify-content: center;
    align-items: center;
}

    
        .TableData_name {
            width: 15%;
        }
        
        .TableData_Survedby {
            width: 50%;
            /* background-color: red; */
        
        }
        
        .TableData_Active{
            width: 25%;
        }
        
        .TableData_Active .Tabledata_btn_notbooked{
            width: 80%;
            /* height: 30px ; */
        
        }
        
        .TableData_bookedby {
            width: 15%;
        }
        }


 


        @media (max-width:475px){

            .TableData_Active .Tabledata_btn_notbooked{
                /* width: 75%; */
                font-size:xx-small;
                /* height: 30px ; */
            
            }
            .Tabledata_btn_booked {
                font-size:xx-small;

            }
        }


@media (max-width:425px){

.TableData .TableData_Survedby,.TableData_name,.TableData_Active,.TableData_bookedby,
.TableData_Survedby {
                    
                    
 font-size:x-small;
                    
}
.emailafter_edit select{
max-width: 100px ;                    
}
            
}


@media (max-width:350px){

    .Tables_Data {
        /* width: 325px; */
    overflow-x: scroll;
    scrollbar-color: red;
}
}

/* emailafter_edit */

.emailafter_edit_name {
    display: none;
}


/* 
.TableData_name {
    margin-left:25px !important;
}

.TableData tr .TableData_name {
    margin-left:25px !important;
    padding-left:5px;
  background-color:red;
} */

@media (max-width:550px){

    .TableData_Active .Tabledata_btn_notbooked{
        /* width: 75%; */
        font-size: small;
        /* height: 30px ; */
    
    }
    .TableData {
        font-size: small;


    }
    .emailafter_edit select{
        max-width: 200px ;
        
    }


    /* For Phones */

    .TableData {
        display: none;
    }
    .Tables_Data_table {
        display: none;
    }
    .TableData_phones{
        display: flex !important;
    }
    .Tables_Data {
        margin-top: 15px;
    }

    .TableData_phones div{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 5px;
        border: 0.2px solid lightgray;

     }

    .TableData_phones div div{
        /* border: 0.2px solid red; */
        /* display: flex; */
        border: none;
        margin-left: -2px;


    
     }

    .TableData_phones div td:nth-child(1){
        margin-left: 5px;
      
      font-weight: 500;
      align-self: center !important;

    }

    .TableData_phones div td:nth-child(2){
        width: 60%;
        text-align: start;
        align-self: center !important;
        font-size: small;
    
    }
    .emailafter_edit select{
        max-width: 100px ;
      
    }
    .Tabledata_btn_booked {
      
        padding: 5px ;
        font-size: smaller;
    }
.Tabledata_btn_notbooked {

  width: fit-content !important;
  box-sizing: content-box;
  padding: 3px;
 background-color: #5388f2;
}

}






.TableData_phones{
    display: none;
}

@media (max-width:300px){
    .emailafter_edit select{
        max-width: 75px ;
      
    }

}