.Tables_inside_addingtable {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 15px;

}

.Tables_inside_addingtable:hover {
    background-color: white;
    color: black;
}

.Tables_Data_table {
    margin-top: 15px;
    /* display: flex; */
}



