.Login {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: #0000004D;
    color: white;
    /* place-items: ce; */
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1 !important;

}

.Login_inside {
    /* background-color: line; */
    height: 450px;
    width: 400px;
    color: black;
    border-radius: 15px;
    
        background-image: linear-gradient(rgb(0, 255, 195), rgb(200, 0, 255));
    
   position: relative;
}

.Login_name {
    margin-top: 35px;
    animation: name 2s ease-in infinite;
}

.Login_inside_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* font-size: xx-large; */
}

.Login_inside_form input {
    outline: none;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size:medium;
    border-radius: 5px;
}

.Login_inside_form button {
 width: 50px;
 margin-left: auto;
 margin-right: auto;
font-size:medium;
 border: none;
 height: 25px;
 background-color: #c60001;
 border-radius: 5px;
 margin-top: 15px;
 cursor: pointer;
 color: white;
 padding: 5px;
 box-sizing: content-box;
 border: 1px solid rgb(10, 216, 234);

}


.Login_inside_form button:hover {
    background-color: rgb(200, 0, 255);
    border: 1px solid black;

}

@keyframes name{
    0%{
        color: red;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: rgb(11, 184, 237);
    }
}

.Login_inside_form span{
    color: white;
    margin-top: 15px;
}

/* .Login_inside_form button:nth-child(2){
    background-color: aqua;


} */

.Login_inside_form_signup {
    background-color: green !important;
    margin-left: 12px !important;
}

.Login_inside_form_signup:hover {
    background-color: rgb(145, 22, 222) !important;



}

.name_cncl_btn {
    position: absolute;
    top: -50px;
    right: -50px;
    

}

.name_cncl_btn button{
    background-color: #c60000;
    color: white;
    border: 2px solid white;
    border-radius: 50%;

}

@media (max-width:425px){
    .Login_inside {
        /* background-color: line; */
    width:90% ;
    margin-top: 30px;

        height: 460px;
    }
}