.Signup {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: #0000004D;
    color: white;
    /* place-items: ce; */
    align-items: center;
    justify-items: center;
    position: fixed;
    /* padding-top: -10px; */
    z-index: 1031 !important;

}

.Signup_inside {
    /* background-color: line; */
    height: 500px;
    width: 400px;
    color: black;
    border-radius: 15px;
    
    background-image: linear-gradient(rgb(0, 255, 195), rgb(200, 0, 255));
    /* background-image: linear-gradient(hsl(235, 96%, 36%), rgba(229, 232, 240, 0.938)); */
        /* z-index: 999 !important; */
    
   
}

.Signup_name {
    margin-top: 35px;
    animation: name 2s ease-in infinite;
}

.Signup_inside_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* font-size: xx-large; */
}

.Signup_inside_form input {
    outline: none;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size:medium;
    border-radius: 5px;
}

.Signup_inside_form button {
 width: 50px;
 margin-left: auto;
 margin-right: auto;
font-size:medium;
 border: none;
 height: 25px;
 background-color: #c60001;
 border-radius: 5px;
 margin-top: 5px;
 cursor: pointer;
 color: white;
 padding: 5px;
 box-sizing: content-box;
 border: 1px solid rgb(10, 216, 234);

}


.Signup_inside_form button:hover {
    background-color: rgb(200, 0, 255);
    border: 1px solid black;

}

@keyframes name{
    0%{
        color: red;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: rgb(11, 184, 237);
    }
}

.Signup_inside_form span{
    color: white;
}

/* .Signup_inside_form button:nth-child(2){
    background-color: aqua;


} */

.Signup_inside_form_login {
    background-color: green !important;
    margin-left: 12px !important;
}

.Signup_inside_form_login:hover {
    background-color: rgb(145, 22, 222) !important;



}

@media (max-width:425px){
    .Signup_inside {
        /* background-color: line; */
    width:90% ;
    margin-top: 30px;

        height: 460px;
    }
}