.Body_inside {
    position: relative;
    width: 100%;
    /* background-color: red; */
}

.Offers_dev {
    /* left: 0px; */
    position: absolute;
    left: 0px;
    top: 0px;
    /* animation: off; */
    /* width: 100%; */
    animation: offers 12s linear infinite  ;
}

@keyframes offers{
    0% {    left: 0px;

    }
    100% {
        left: 85%;
    }
}


.Offers_dev span{
    color: red;
    animation:offerspan  1s linear infinite alternate-reverse;
font-size: xx-large;


}

@keyframes offerspan{
    0% {
        color: red;
    }

    25% {
        color: blue;
    }
    50% {
        color: rgb(227, 247, 10);
    }
    75% {
        color: rgb(242, 5, 203);
    }
    100% {
        color: aqua;
    }
}

.fuatereditems_dev {
    margin-top: 25px;
    padding-top: 35px;
}

.FuaturedItems {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


.FuaturedItems img {
    width: 450px;
    height: 450px;
    justify-self: center;
    border-radius: 25px;
}

.Carousel_inner_items {
    display: flex;
}


.Body_Booking_Section {
    /* margin-top: 10px; */
  
        width:85%;
        /* background-color:red; */
        margin-left:auto;
        margin-right:auto;
       margin-top:25px;
       box-shadow:0px 0px 2px 2px rgba(0,0,0,0.3);
       /* box-shadow:0px 0px 2px 2px white; */
       margin-bottom:15px;
       /* display:flex; */
       border-radius:15px
    
}

.Body_Booking_Section_dark{
       box-shadow:0px 0px 2px 2px white !important;
   


}
.Body_Booking_Section p  {
    padding-top: 15px;

}
/* .Body_Booking_Section_dark p {
    padding-top: 15px;

} */

.Body_Booking_Section_inside {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    /* background-color:red; */
    /* margin-bottom:15px; */
}



@media (max-width:900px){



.FuaturedItems {

    width: 60%;
}}

@media (max-width:750px){
  .FuaturedItems {
    
        width: 70%;
    }}
    
    @media (max-width:500px){
        .FuaturedItems {
          
              width: 70%;

              /* height: 250px; */
          }
          .FuaturedItems img {
            /* width: 450px; */
            height: 320px;
            justify-self: center;
            border-radius: 25px;
        }
        
        }

 @media (max-width:500px){
.FuaturedItems {
              
                  width: 80%;
    
                  /* height: 250px; */
              }
 .FuaturedItems img {
                /* width: 450px; */
                height: 250px;
                justify-self: center;
                border-radius: 25px;
}}


@media (max-width:500px){
   
     .FuaturedItems img {
                    /* width: 450px; */
                    height: 200px;
                    justify-self: center;
                    border-radius: 25px;
    }}



    @media (max-width:410px){
        .Body_Booking_Section  {
            width: 85%;
        
        }
        .Body_Booking_Section p {
        padding: 12px;
        
        }
/* .Body_Booking_Section_dark{

    width: 85%;

}
.Body_Booking_Section_dark p{
    padding: 12px;

} */

        
    }

    @media (max-width:375px){
        .Body_Booking_Section  {
            width: 92%;
        
        }
/* .Body_Booking_Section_dark{
    width: 92%;

} */
       
        
    }

    @media (max-width:375px){
        .Body_Booking_Section  {
            width: 95%;
        
        }
        /* .Body_Booking_Section_dark{
            width: 95%;
        
        } */
        
        @keyframes offers{
            0% {    left: 0px;
        
            }
            100% {
                left: 35%;
            }
    }
       
        
    }

    @media (max-width:1285px){
        @keyframes offers{
            0% {    left: 0px;
        
            }
            100% {
                left: 70%;
            }
    }}

    @media (max-width:715px){
        @keyframes offers{
            0% {    left: 0px;
        
            }
            100% {
                left: 65%;
            }
    }}

@media (max-width:615px){
        @keyframes offers{
            0% {    left: 0px;
        
            }
            100% {
                left: 55%;
            }
 }}

 @media (max-width:480px){
.Offers_dev,.Offers_dev span {
    font-size: medium;

}
    @keyframes offers{
        0% {    left: 0px;
    
        }
        100% {
            left: 55%;
        }
}}

@media (max-width:415px){
    
        @keyframes offers{
            0% {    left: 0px;
        
            }
            100% {
                left: 50%;
            }
    }}

 @media (max-width:370px){
    
        @keyframes offers{
            0% {    left: 0px;
        
            }
            100% {
                left: 43%;
            }
}}

@media (max-width:330px){
    
    @keyframes offers{
        0% {    left: 0px;
    
        }
        100% {
            left: 35%;
        }
}}