

.Booking_Section {
    width:290px;
    /* background-color:red;
    margin-left:auto;
    margin-right:auto; */
   margin-top:15px;
   margin-bottom:15px;
   box-shadow:0px 0px 2px 2px rgba(0,0,0,0.3);
    border-radius:5px;
    transition: 0.3s;
    position: relative;
    /* height: 320px; */
    /*  */
    background-color: red;
}

.Booking_Section:hover {
transform: scale(1.1);
/* transform:scaleZ(3); */
cursor: pointer;

}

.Booking_Section_dark {
    box-shadow:0px 0px 2px 2px white ;
    position: relative;


}




.Booking_Section_top_img {
    width:80%;
    border-radius:15px
}


/* .Booking_Section_top_img */
/* .Booking_Section:hover  {
    
    width:120%;
height: 242px;

} */

.Booking_Section_top_img_dev {
    position:relative;
}
.Booking_Section_top_img_dev_showing {
    position:absolute;
    top:65%;
    margin-left:10%;
    width:80%;
}
.Booking_Section_top_img_dev_showing button {
width:90%;
color:white;
border:2px solid white;
/* border-radius:5px; */
padding:5px

}

.booked_btn {
    background-color: #ed094b;
    cursor:not-allowed !important;
    width:55% !important;

        /* cursor: wait; */
}

.booked_btn_you {
    background-color: blue;
    width:95% !important;
}

.notbooked_btn {
    /* background-color:green; */
    background-color:#07eb75;
    width:55% !important;

    


}

.booking_more_options {
    position:absolute;
    top:-30px;
    right:15px;
    /* color: red; */
}

.booking_more_options button {
 border-radius:5px
}

.Booking_Section_top h4 {
    padding-top: 15px;

}

.Booking_Section_bottom{
    padding: 12px 0px;
}

.booking_more_options_btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25px;
    right: 20px;
    width: 150px;
    /* background-color: red; */
    /* height: 100px; */
    background-color:black;
    border-radius: 10px;



}

.booking_more_options_btn button{
    /* background-color: white; */
    /* border: 2px solid red; */
    background-color: black;
    color: white;
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.booking_more_options_btn button:hover{
  background-color: white;
  color: black;
}

.Booking_Section_bottom_youbookeed {
    color: green;
    font-size: large;
    font-weight: 500;
}

.booking_more_options:hover {
    cursor: pointer;
}


@media (max-width:350px) {
.Booking_Section {

    width: 92%;
    margin-left: auto;
    margin-right: auto;

}
    
}




.Booking_Section {
  background-color:lightblue;

}
.Booking_Section:hover {
   background-color:lightgreen;
}

@media (max-width:550px){
.Booking_Section_top_img_dev_showing button {

    width:50%;

}

/* .Booking_Section_top h4 {

    position: absolute;
    bottom: 43px;
    left: 15px;
}

.Booking_Section_bottom_youbookeed {
position: absolute;
bottom: 5px;

} */
}