/* .Navbar_homeimg {
    width: 70px;
    border-radius: 10px;
} */

.Header {
    position: sticky;
    top: 0px;
    height: 90px;
    /* background-color: rgb(32, 31, 31); */
    /* background-color: #e5e6eb; */
    background-color: #e5e6eb;
    box-sizing: border-box;
    padding: 10px;
    /* z-index: 3 !important; */
    z-index: 1 !important;
}

.Header_inside_left img {
    width: 50px;
    border-radius: 50%;
}

.Boostrapheader img {
    width: 50px;
    border-radius: 50%;
}



.Header_inside {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Header_inside_left {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.Header_inside_left div:nth-child(2){
    align-self: center;
    /* background-color: red; */
    }


.Header_Login_name {
    /* animation: Head_name 2s ease-in-out infinite; */
    margin-left: 10px;
    margin-top: 3px;
    color: black;
    /* align-items: center; */
    
}
    @keyframes Head_name{
        0%{
            color: red;
        }
        50% {
            color: blue;
        }
        75% {
            color: green;
        }
        100% {
            color: rgb(11, 184, 237);
        }
    }

.Header_inside_right  {
    /* margin-top: 5px; */
align-self: center;
}

.Signin_btn {
    background-color: rgb(9, 231, 79);
    cursor: pointer;
    border-radius: 10px;
    height: 35px;
    /* color: whi; */
    border: 2px solid white;

}

.Signin_btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}


.Header_inside_right {
    /* background-color: red; */
    position: relative;
}

.Header_inside_right_extra {
    position: absolute;
    display: none;
    top: 40px;
    right: 25px;
    background-color: black;
    height: 125px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center !important; */
    border-radius: 10px;
  border:  1px solid salmon;

}

.Header_inside_right_extra button {
    margin-top: 8px;
    /* width: fit-content; */
  width: 150px;
  border-radius: 10px;
}

.Header_inside_right:hover 
.Header_inside_right_extra {

display: flex;
flex-direction: column;}







.Header_inside_themes {
    position: absolute;
    display: flex;
    top: 18px;
    right: 155px;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
    
}

.Header_inside_themes button {
    width: 65px;
    border-radius: 10px;
}

.Header_inside_themes button:nth-child(1) {
    background-color: white;
    margin-right: 5px;
    /* border:  2px solid white !important; */

}

.Header_inside_themes button:nth-child(1):hover {
    background-color: black;
    color: white;
    border:  1px solid white;
}

.Header_inside_themes button:nth-child(2) { 
    background-color: black;
    color: white;
    border: 1px solid white;
}


.Header_inside_themes button:nth-child(2):hover { 
    background-color: white;
    color: black;
    border:  1px solid black;


}

.Header_inside_dashboard {
    position: absolute;
    /* justify-items: center; */
    display: flex;
    top: 25px;
    /* justify-content: center; */
    /* justify-self: center; */
    /* width: 100%; */
    left: 600px;
    /* right: 0px; */
    /* background-color: red; */

}

.Header_inside_dashboard button {
    background-color: white;
    color: white !important;
    text-decoration: none !important;
    border:1px solid white ;
        border-radius: 5px;
    height: 32px;
    /* animation: dashboard 2s ease-in infinite ; */
    /* color: wheat; */
    width: 150px;
    right: 0px;

    /* justify-self: center; */
    /* margin-left: auto;
    margin-right: auto; */


}

.Header_inside_dashboard button:hover {
    color: red;
    background-color: white;

}

@keyframes dashboard {
    0% {
        background-color: #c60000;
    }
    50% {
        background-color: rgb(15, 201, 233);
    }
    100% {
        background-color: white;
    }
}

/* Link {
    text-decoration: none !important;
} */


.Logout_btn_div {
    position: absolute;
    right: 75px;
    top:17px;
    /* background-color: blue !important;
    border: 2px solid white;
    color: white; */
}

.Logout_btn_div button {
background-color: blue !important;
    border: 2px solid white;
    color: white;
    height:34px;
    border-radius: 5px;
    /* padding:2.
    px; */
}

.supliername_header {
    font-size: larger;
    color: white;
    
}



.navbar_togle {
position: absolute;
display: none;

/* left: 0px; */

}


.navbar_togle nav{

/* height:50px; */
border-radius:15px;}




@media (max-width:1060px){


    .Header_inside {
        display: flex;
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        flex-direction: column;
        /* background-color: red; */

    }

    .Header_inside_right {
        /* background-color: red; */
        /* justify-self: left; */
        /* left: 0px; */
        position: absolute;
        left: 10px;
        top: 70px;

        /* justify-self: start; */
    }

    .navbar_togle {
        position: absolute;
        /* display: none; */
        /* left: 0px; */
        right: 10px;
        color: red;
        display: inline;
    
    }
    .Header_inside_themes {
        position: absolute;

    top: 120px;
    left: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
    }  
    
    .Header_inside_right_extra {
        position: absolute;
        display: none;
        top: 35px;
        right: -90px;
        z-index: 1;
    
    }

    .Logout_btn_div {
        position: absolute;
    left: 45px;
    top:75px;
    display: none;

    }

    /* .Signin_btn {
        background-color: rgb(9, 231, 79);
        cursor: pointer !important;
        border-radius: 10px;
        height: 35px;
        
    }
    .Header_inside_right:hover 
    .Header_inside_right_extra {
    
    display: flex;
    flex-direction: column;} */

    .Header_inside_dashboard {
        
       
        display: none;
        

       
    
    }
    .Header_inside_themes{
        display: none;
    }
    .Header_inside_themes_nav {
        position: absolute;
        display: flex;
        top: 110px !important;
        left: 10px;
        cursor: pointer;
        border-radius: 5px;
        height: 35px;
    }
    .Logout_btn_div_nav  {
        position: absolute;
        left: 75px;
        top:70px !important;
    
    
    }



}


.Header_navicon {
    height: 200px;
    position: sticky;
    top: 0px;
    /* height: 75px; */
    /* background-color: rgb(32, 31, 31); */
    background-color: #e5e6eb;
    z-index: 3 !important;


    box-sizing: border-box;
    padding: 10px;
    z-index: 1;

}

@media (min-width:1060px){
.Header_navicon {
    height: 75px;


}

.Header_inside_right_navicon {
    display: inline-block !important;
    position: relative;
    top: 5px;

}


.Header_inside_dashboard_nav {

    position: absolute;
   
    display: flex;
    top: 20px !important;
    
    left: 600px !important;
        }






}


.Header_inside_right_navicon {
    display: none;
}


.Header_inside_right_navicon button {
    cursor: pointer;


}



.Header_inside_right_navicon:hover 
.Header_inside_right_extra {

display: flex;
flex-direction: column;} 









.Header_inside_themes_nav {
    position: absolute;
    display: flex;
    top: 18px;
    right: 155px;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
    
}

.Header_inside_themes_nav button {
    width: 65px;
    border-radius: 10px;
}

.Header_inside_themes_nav button:nth-child(1) {
    background-color: white;
    margin-right: 5px;
}

.Header_inside_themes_nav button:nth-child(1):hover {
    background-color: black;
    color: white;
    border:  1px solid white;
}

.Header_inside_themes_nav button:nth-child(2) { 
    background-color: black;
    color: white;
    border: 1px solid white;
}


.Header_inside_themes_nav button:nth-child(2):hover { 
    background-color: white;
    color: black;
    border:  1px solid black;


}


.Logout_btn_div_nav  {
    position: absolute;
    right: 75px;
    top:20px;
    /* align-items:start !important; */
    text-align:start !important;
    


}

.Logout_btn_div_nav button {
    background-color: blue !important;
        border: 2px solid white;
        color: white;
        border-radius: 5px;
        height:34px;
        /* width:25px; */
    }



    .Header_inside_dashboard_nav {

position: absolute;
    
    display: flex;
    top: 155px;
    
    left: 10px;
    }


    .Header_inside_dashboard_nav button {
        background-color: white;
        color: white !important;
        text-decoration: none !important;
        border:1px solid white ;
            border-radius: 5px;
        height: 32px;
        /* animation: dashboard 2s ease-in infinite ; */
        /* color: wheat; */
        width: 150px;
        right: 0px;
    
        /* justify-self: center; */
        /* margin-left: auto;
        margin-right: auto; */
    
    
    }


   
   
 @media (max-width:550px){
        .Header_inside_left {
            flex-direction: column;
        }

.Header {

    height: 100px;

}

.Header_inside_right{
  top: 108px ;
  /* background-color: red; */
}

.Header_inside_themes_nav {
    top: 145px !important;
}
.Header_inside_dashboard_nav {
    top: 185px;
}
.Header_navicon {
    height: 220px ;
}
.Logout_btn_div_nav {
    top: 110px !important;
    margin-left:4px;
    /* left: -10px; */
}

.Header_inside_left {
    /* text-align:start !important; */
    text-align:start !important;
}
    }

    @media (max-width:425px){
    
        .Header {

            height: 130px;
        
        }
        
.Header_inside_right{
    top: 118px ;
    /* background-color: red; */
  }
  
  .Header_inside_themes_nav {
      top: 155px !important;
  }
  .Header_inside_dashboard_nav {
      top: 195px;
  }
  .Header_navicon {
      height: 230px ;
  }
  .Logout_btn_div_nav {
      top: 120px !important;
      /* left: -10px; */
  }
     
.Header_Login_name {
    font-size:larger !important;
    margin-top:5px;
   }
   .Header {

    height: 95px;

}
   
    }

    /* .Logout_btn_div_nav */

 
  @media (max-width:335px){
    .Header_Login_name {
        font-size:medium !important;
        margin-top:10px;
       }
       .Header {

        height: 100px;
    
    }
     
  }



  @media (max-width:290px){
    
       .Header {

        height: 110px;
    
    }}

.Header_inside_dashboard span {
  color: salmon ;
}

/* 
.boostrphesader {
    position: sticky;
    top: 0px !important;
} */

/* .Boostrapheader {
    z-index: 1 !important;
} */

@media (min-width:991px){
    .Logo_name {
        margin-left: 30px;
    }
  .Signin_option {
    margin-left: 25px;
  }
  .logout_option {
    margin-top: 5px ;
    margin-left: 25px;

  }
  .Themes_option {
    margin-left: 25px;
    margin-top: 7px ;


  }
}