.Users {
    margin-bottom: 15px;
}
table,th,td{
    border: 1px solid black;
    /* border-collapse: collapse; */
    /* width: 100%; */
}

.UserData_name {
    width: 20%;
}

.UserData_tablenumb {
    width: 20%;
}

.UserData_bookedby {
    width: 20%;

}

.UserData_Survedby{
    width: 20%;

}

.UserData_email {
    width: 20%;

}

.UserData_table td{
    width: 20%;
}

.Users_Data_table {
    margin-top: 15px;
}

.UserData_table button{
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}


@Media (max-width:1285px){

    .UserData_name,.UserData_tablenumb,.UserData_Active {
        width: 15% !important;
        /* background-color: red; */
    }
    .UserData_Survedby {
        width: 35% !important;
    }
  


}

@Media (max-width:725px){

    .UserData_name,.UserData_tablenumb,.UserData_Active {
        width: 12% !important;
        /* background-color: red; */
    }
    .UserData_Survedby {
        width: 44% !important;
    }

}


@Media (max-width:630px){

    .UserData_Survedby,.UserData_email,
    
        .UserData_name,.UserData_tablenumb,.UserData_Active {
        /* width: 12% !important; */
        font-size: small;
        /* background-color: red; */
    }
       
    }

    @Media (max-width:515px){

        .UserData_name,.UserData_tablenumb,.UserData_Active {
            width: 10% !important;
        font-size: xx-small;

            /* background-color: red; */
        }
        .UserData_Survedby {
            width: 50% !important;
        font-size: xx-small;

        }
        .UserData_email{
        font-size: xx-small;

        }
    
    }

@Media (max-width:360px){

.Users {
    width: 350px;
    /* overflow-x: scroll; */
}


}