.Users {
    margin-bottom: 15px;
}
table,th,td{
    border: 1px solid black;
    /* border-collapse: collapse; */
    /* width: 100%; */
}

.UserData_name {
    width: 20%;
}

.UserData_tablenumb {
    width: 20%;
}

.UserData_bookedby {
    width: 20%;

}

.UserData_Survedby{
    width: 20%;

}

.UserData_email {
    width: 20%;

}

.UserData_table td{
    width: 20%;
}

.Users_Data_table {
    margin-top: 15px;
}

.UserData_table button{
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}


@Media (max-width:1285px){

    .UserData_name,.UserData_tablenumb,.UserData_Active {
        width: 15% !important;
        /* background-color: red; */
    }
    .UserData_Survedby {
        width: 35% !important;
    }
  


}

@Media (max-width:725px){

    .UserData_name,.UserData_tablenumb,.UserData_Active {
        width: 12% !important;
        /* background-color: red; */
    }
    .UserData_Survedby {
        width: 44% !important;
    }

.UserData_Survedby_email {
    display: none;
}
.UserData_Survedby_name {
     display: block !important;
}

}


@Media (max-width:630px){

    .UserData_Survedby,.UserData_email,
    
        .UserData_name,.UserData_tablenumb,.UserData_Active {
        /* width: 12% !important; */
        font-size: small;
        /* background-color: red; */
    }
       
    }

    /* @Media (max-width:515px){

        .UserData_name,.UserData_tablenumb,.UserData_Active {
            width: 15% !important;
        font-size: xx-small;

        }
        .UserData_Survedby {
            width: 25% !important;
        font-size: xx-small;

        }
        .UserData_email{
        font-size: xx-small;
        width: 30% !important;


        }
    
    } */



/* @Media (max-width:360px){ */

/* .Users { */
    /* width: 350px; */
    /* overflow-x: scroll; */
/* }


} */

.UserData_Survedby_name {
    display: none;
}

@media (max-width:600px){
    .usersData_inside .UserData_table {
        display: none;

    }
    .Users_Data_table {
        display: none;
    }
    .UserData_forphones {
        display: block !important;
        /* background-color: red; */

    }
    .UserData_forphones tr {
        /* background-color: white; */
        width: 90% !important ;
        
    
    }

    .UserData_forphones tr td {
        border: 1px solid red;
        border-collapse: collapse;
    }

    .UserData_forphones div {
        display: flex;

        /* note
         */
        /* justify-content: space-between; */
        padding: 5px;
        /* background-color: blue; */
        /* width: 80% !important; */
        background-color: white;
        /* margin-top: 1px; */
    
     }
    .UserData_forphones div td{
        flex: 1;
        width: 50%;
    
    }

     /* Note */



    /* .UserData_forphones div td{ */
        /* background-color: white; */
    
    /* } */

    /* .UserData_Survedby_name { */
        /* height: fit-content; */
    /* } */
     /* Look at */
     .UserData_Survedby {
        /* width: 44% !important; */
  width: fit-content !important;

    }
.UserData_email {
  width: fit-content !important;

 }


.UserData_name {
  width: fit-content !important;
}
.UserData_Survedby {
    text-align:end;
}

.UserData_forphones div td:nth-last-child(1){
    /* color: red ; */
    /* padding-right: 5px; */
    margin-right:5px ;
    text-align: left;
}

.UserData_forphones div td:nth-last-child(2){
    font-weight: 500;
    margin-left:5px ;
    text-align: left;



}

.UserData_forphones button{
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
}

.UserData_forphones {
    display: none;
}

.Users h3 {
    color: white;
}

.UserData_forphones div:nth-last-child(1) button{
    background-color: #f65353;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;

}