.Orders {
    margin-top: 25px;
    width: 80%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
    min-height: 150px;
    /* display: flex;
    justify-items: center; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    position: relative;
    padding-bottom: 30px;
    /* padding-top: 30px; */
    /* margin-top: 115px; */
}

.Orders_dark {
    box-shadow: 0px 0px 2px 2px white;


}

.Orders >h3 {
    /* margin-top: 55px; */
    padding-top: 25px;
}

.Ordering_input {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    width: 80%;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 5px;
}

.Ordering_input_dark {
    box-shadow: 0px 0px 2px 2px white;

}

.Ordering_input form {
    display: flex;
    /* justify-content: center; */
    /* width: 75%; */
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
    /* flex: 1; */
}

.mic_part {
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    /* flex: 1; */


}
.mic_part input{
    padding: 2px 4px;
    border-radius: 5px;

}

.mic_part div:nth-child(1){
    /* background-color: green; */
    margin-right: 15px;
    padding-top: 2px;


}




.Ordering_input form input{
    /* border:  2px solid white;
    outline: 2px solid white; */

    border: none;
    outline: none;
    padding: 2px 6px;
    height: 30px;
    border-radius: 5px;

}

/* .Ordering_input form input:nth-child(2){ */
    /* color: red; */
    /* width: 85px !important; */
    /* font-size: small; */

/* } */

.Ordering_input button{
    border: 2px solid white;
    background-color: #c60000;
    color: white;
    border-radius: 10px;
    width: 50px;
    margin-left: 3px;

}


.Ordering_input form input:nth-child(2){
    width: 100px;
    margin-left: 5px;


}


.Orders_goback_div {
    position: absolute;
    top: 25px;
    right: 10px;
}


.Orders_goback_div button{
    border-radius: 2px;

}

.Orders_goback_div_message{
    position: absolute;
    top: 10px;
    left: 400px;
}
.Orders_goback_div_message button{
    background-color: white;
    border: 2px solid white;
    color: white !important;
    border-radius: 5px;



}

.reload_info {
    position: absolute;
    top: 0px;
    /* left: ; */
    /* justify-self: center; */
    left: 33%;
}

.Orders_OrderItems {
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 5px;
    margin-top: 15px;
    padding-top: 15px;
     
}

.Orders_OrderItems table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* border-collapse: separate !important; */
}

.Orders_OrderItems table th {
    flex: 1;

}

.Orders_OrderItems table,th,td {
border: none !important;

}

.Orders_OrderItems p {
    /* padding-right: 155px; */
    position: absolute;
    right: 25%;
    color: white;

}


.rupeicon {
    color: #c60000;
    font-size: larger;
    position: absolute;
    right: -20%;
    /* color: white; */
}

.mic_part span {
    cursor: pointer;

}

.micoofficon {
    color: #c60000;
}

.micoonicon{
    color: green;

}

.mic_part input {
    border:  none;
    outline:  none;
    margin-top: -2px;
}

select {
    direction:ltr;
    border-radius: 5px;
 
}

.Orders h3 span{
    color: green;
    animation: supliercolor 2s ease infinite;
    border:  2px solid white;
}

@keyframes supliercolor {
    0% {
        color: #c60000;
        border-bottom: 2px solid salmon;
    }
    25% {
        color: green;
        border-right: 2px solid salmon;

    }
   
    50% {
        color: aqua;
        border-top: 2px solid salmon;
    }


    100% {
        color: blue;
        border-left: 2px solid salmon;

    }
}

@media (max-width:1150px){
.Orders {
  
    width: 85%;

}
.Orders_OrderItems {

    width: 90%;

}
}

@media (max-width:900px){
    .Orders_OrderItems {

        width: 95%;
    
    }
    .Orders_goback_div {
        /* position: absolute; */
        top: 60px;
        /* right: 10px;  */
    }
    .Ordering_input div form {
        padding-left:25px;}

}

@media (max-width:800px){
    .Ordering_input {

        width: 95%;
        
        display: flex;
        
        flex-direction: column;
    }
    .Ordering_input div form {
        padding-left:25px;
    }
   .mic_part {
    padding-top: 10px;
   }
   



}

@media (max-width:700px){
    .Orders {
        width: 90%;
    
    }
}

@media (max-width:620px){
    .Orders {
        width: 95%;

    
    }
.OrderItems_inside input {
 padding-left: 1px !important;
}
.showing_index {
    left: 10px !important;

}
}


@media (max-width:500px){
   .Orders_inside,.OrderItems input {
    font-size: small !important;
   } 

}


@media (max-width:400px){

    .Orders {
    
    /* min-width: 400px; */
    margin: 5px;
    }
    .showing_index {
        left: 5px !important;
    
    }
    .Ordering_input div form {
        padding-left:10px;
    }
.OrderItems_inside {
   width: 90% !important;
}
}

@media (max-width:360px){
    .Orders h3 {
        font-size: medium !important;
    }

    .Orders_goback_div {
        top: 45px;

    }
    .Orders_goback_div button{
        font-size: small !important;
    }

}

@media (max-width:320px){

    .Ordering_input div form {

        padding-left: 0px !important;
    }

  
    .Ordering_input div form {
            flex-direction: column;

            /* width: 75%; */
    }

    .Ordering_input div form input {
    /* padding:10px; */
    margin-top: 4px;
    padding: 2px 6px;

     }
     .mic_part {
        flex-direction: column;
        text-align: start;
        padding: 2px 6px;

     }
    
    
     .Orders_OrderItems {
        font-size: xx-small;
     }


     /* Added for scrolling */

     .OrderItems_inside {
        width: 95% !important;
     }
     /* .OrderItems_inside {
        width: 98% !important;
     } */


}

/* Added for scrolling these 2 lines */
@media (max-width:425px){
.Orders_OrderItems {
    min-width: 400px;
}

.Orders_OrderItems_scrollbar {
    overflow-x: scroll;

}}