.Orders {
    margin-top: 25px;
    width: 80%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
    min-height: 150px;
    /* display: flex;
    justify-items: center; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    position: relative;
    padding-bottom: 10px;
}

.Orders >h3 {
    /* margin-top: 55px; */
    padding-top: 25px;
}

.Ordering_input {
    margin-top: 15px;
}

.Ordering_input form {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.Ordering_input form input{
    /* border:  2px solid white;
    outline: 2px solid white; */

    border: none;
    outline: none;
    padding: 2px 2px;
    height: 30px;

}


.Ordering_input button{
    border: 2px solid white;
    background-color: #c60000;
    color: white;
    border-radius: 10px;
    width: 50px;
    margin-left: 3px;

}


.Ordering_input form input:nth-child(2){
    width: 100px;
    margin-left: 5px;


}


.Orders_goback_div {
    position: absolute;
    top: 25px;
    right: 10px;
}


.Orders_goback_div button{
    border-radius: 2px;

}

.Orders_goback_div_message{
    position: absolute;
    top: 10px;
    left: 400px;
}
.Orders_goback_div_message button{
    background-color: white;
    border: 2px solid white;
    color: white !important;
    border-radius: 5px;



}

.reload_info {
    position: absolute;
    top: 0px;
    /* left: ; */
    /* justify-self: center; */
    left: 33%;
}

.Orders_OrderItems {
    background-color: salmon;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-top: 15px;
}