.App {
  text-align: center;
}

.App_dark {
  background-color: black;
  color: white;
  text-align: center;
  /* border: 2px solid white;
  border-top: 2px solid rgb(32, 31, 31); */
  
}






.loading_app {
  
  /* display:grid; */
  /* place-items:center;
  align-items: center;
  display: flex;
  height:100vh;
  width:100%;
  margin-left: auto;
  margin-right: auto; */
  display: grid;
  /* place-items: center; */
  align-items: center;
  height: 100vh;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2); */
  
  
  
  }
  
  
  
  .loading_spin {
  
  text-align:center;
  padding-bottom:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  }
  
  .loading_spin >img {
    height:100px;
    padding:20px;
    width: 150px;
    margin-bottom:40px;
    /* border-radius: 15px; */
  }

  /* .loading_spin_app {
    width: 50px !important;
  } */

  .Logo_App {
    border-radius: 50%;
    width: 300px !important;
    height: 300px !important;
  }