.App {
  text-align: center;
  /* background-color:#c0c2ce;
   */
  background-color:#c0c2ce;
  background-color:rgb(0,30,60);
  /* position: relative; */

}

.App_dark {
  background-color: black;
  /* background-color: rgb(230, 237, 239); */
  color: white;
  text-align: center;
  /* border: 2px solid white;
  border-top: 2px solid rgb(32, 31, 31); */
  
}






.loading_app {
  
  /* display:grid; */
  /* place-items:center;
  align-items: center;
  display: flex;
  height:100vh;
  width:100%;
  margin-left: auto;
  margin-right: auto; */
  display: grid;
  /* place-items: center; */
  align-items: center;
  height: 100vh;
  /* box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2); */
  
  
  
  }
  
  
  
  .loading_spin {
  
  text-align:center;
  padding-bottom:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  }
  
  .loading_spin >img {
    height:100px;
    padding:20px;
    width: 150px;
    margin-bottom:40px;
    /* border-radius: 15px; */
  }

  /* .loading_spin_app {
    width: 50px !important;
  } */

  .Logo_App {
    border-radius: 50%;
    width: 300px !important;
    height: 300px !important;
  }



  @media (max-width:400px){
    .Logo_App {
      width: 75% !important;
    height: 250px !important;
    }
  }

  @media (max-width:300px){
    .Logo_App {
      height: 200px !important;
    
    
    }
  }

  @media (max-width:300px){
    .Logo_App {
      height: 150px !important;
    
    
    }
  }

  .Move_top_icon {
    position: fixed;
    bottom: 5px;
    right: 7px;
    /* color: red; */
    background-color: white;
    width: 50px;
    height: 50px;
    border: 2px solid #051b30;
    background-color: #051b30 ;
  box-shadow:  0px 0px 2px 2px white;
    border-radius: 50%;
    display: flex;
    cursor: pointer;

    /* position: absolute;
    bottom: 0;
    right: 0; */
  }

  .Move_top_icon_icon {
  align-self: center !important;
  /* justify-self: center !important; */
  color: white;
  margin-right: auto;
  transform: rotate(90deg);
  margin-left: 10px;

  }